# Common
DEBUG = "true"

# Neon
NEON_DATABASE_URL = "postgresql://website_owner:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Resend
RESEND_API_KEY = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
RESEND_FROM = "xxxxx@yoshi0518.com"
RESEND_ADMIN = "xxxxx@yoshi0518.com"

# MicroCMS
MICROCMS_SERVICE_DOMAIN = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
MICROCMS_API_KEY = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# reCAPTCHA
NEXT_PUBLIC_RECAPTCHA_SITE_KEY = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
RECAPTCHA_SECRET_KEY = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# TagManager
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
